{% extends "layout.html" %}
    
{% block content %}


  
  <!-- hero -->
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true"> #041E42
      <!-- <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#0077B6] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div> -->
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#0077B6] to-[#E1F1FA] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Lion's Advisor</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Penn State's advisors have been deemed ineffective. Consequently, we are substituting them with AI-based solutions.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#inquiry" class="rounded-md bg-blue-900 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-900">Ask Now</a>

          <!--<a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>-->
        </div>
        <a href="#inquiry" class="absolute sm:mt-8 lg:mt-32 left-1/2 transform -translate-x-1/2 text-gray-600 hover:text-gray-900 transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down text-gray-900 bobbing-svg" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M6 9l6 6l6 -6"></path>
          </svg>
        </a>
        
        </a>
      </div>

      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#0077B6] to-[#1893F8] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>

  <div>


  </div>

  

  <div id = "inquiry" class="overflow-hidden bg-white py-2 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="text-3xl text-center font-semibold leading-7 text-blue-900 py-6">Enter your Inquiry.</h2>
        
        <form class = "mt-6" action="" method="POST">
          {{ form.csrf_token }}
          <div class = "text-center" action="">
            <label>Choose a major:</label>
            <select name = "major" class = "rounded-md">
              <option value="computer science">Computer Science</option>
              <option value="finance">Finance</option>
              <option value="economics">Economics</option>
              <option value="mechanical engineering">Mechanical Engineering</option>
            </select>
            <br><br>
          </div>

          <div class = "text-center" action="">
            <label>Current Semester:</label>
            <select name = "semester" class = "rounded-md">
              <option value="1">Freshman Fall</option>
              <option value="2">Freshman Spring</option>
              <option value="3">Sophmore Fall</option>
              <option value="4">Sophmore Spring</option>
              <option value="5">Junior Fall</option>
              <option value="6">Junior Spring</option>
              <option value="7">Senior Fall</option>
              <option value="8">Senior Spring</option>
            </select>
            <br><br>
          </div>
          <div class="md:mx-72 sm:mx-auto">
            <label for="classes" class="block text-sm font-semibold leading-6 text-gray-900">Please provide a list of all PSU courses you've completed.</label>
            <div class="mt-2.5">
              <textarea name="classes" id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-900 sm:text-sm sm:leading-6"></textarea>
            </div>
          </div>

          <div class="md:mx-72 mt-6 sm:mx-auto">
            <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Please describe your advising inquiry or issue.</label>
            <div class="mt-2.5">
              <textarea name="message" id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-900 sm:text-sm sm:leading-6"></textarea>
            </div>
          </div>

          <div class="flex items-center justify-center gap-x-6 mt-6">
            <button type="submit" class="px-6 flex justify-center rounded-md bg-blue-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-900">Submit</button>
          </div>

        </form>
        

          
          
    </div>
  </div>

  <div id = "about" class="overflow-hidden bg-white py-12 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-blue-900">Features & Tools</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Lionpath Integration</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">We use AI to assess class difficulty and plan accordingly.</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg  xmlns="http://www.w3.org/2000/svg"  class="absolute left-1 top-1 h-5 w-5 text-blue-900" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12l5 5l10 -10" />
                  </svg>
                  Plan Your 4 Year Major Plan:
                </dt>
                <dd class="inline">Customize your experience and input classes that you have already taken.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                <svg  xmlns="http://www.w3.org/2000/svg"  class="absolute left-1 top-1 h-5 w-5 text-blue-900" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12l5 5l10 -10" />
                    </svg>
                  Gen Ed Tool:
                </dt>
                <dd class="inline"><a href = "https://genedplan.psu.edu/" class = "text-blue-900 hover:text-blue-700">Plan your Gen Eds</a></dd>
              </div>
            </dl>
          </div>
        </div>
        <!-- <img src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442"> -->
        <!-- <img src="../images/aboutbanner.png" alt="Product screenshot" class="rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442"> -->
        <img src="{{url_for('static',filename='images/lp.png')}}" alt="Product screenshot" class="rounded-lg sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">

      </div>
    </div>
    
  </div>

  <footer class="bg-white" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <!-- sm:pt-24 lg:px-8 lg:pt-32 -->
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-6 sm:pt-6 lg:px-8 lg:pt-6">
      <!-- sm:pt-8 -->
      <div class="border-t border-gray-900/10 pt-8 sm:mt-8 md:flex md:items-center md:justify-between">
        <div class="flex justify-center space-x-6 md:order-2">
          <p class=" text-gray-500 font-semibold  md:mt-0">Contact Us:</p>
              
          <a href="#EMAIL" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Email</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
              <path d="M3 7l9 6l9 -6"></path>
            </svg>
          </a>
          <a href="tel:+1 (774) 275-4907" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Phone</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
            </svg> 
          </a>
    
        </div>
        <p class="mt-8 text-center text-xs leading-5 text-gray-500 md:order-1 md:mt-0">&copy; 2024. All rights reserved.</p>
      </div>
    </div>
  </footer>


{% endblock content %}